.section1 p {
  font-size: 70px;
}

.section2 {
  text-align: center;
  padding: 6rem 0;
  p {
    color: #666666;
    font-family: roboto condensed, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 1rem 0 0 0;
  }
}
.section4 {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 6rem 0;
  .trattamenti {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;

    &__box {
      padding: 1rem;
      border-radius: 5px;
      grid-column: span 2;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      color: grey;
      font-weight: 300;
      &__imageBox {
        height: 65px;
      }
      img {
        display: block;
        object-fit: contain;
      }
      h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $blue;
        margin: 1rem 0;
      }
      p {
        font-size: 1rem;
        margin: 0;
      }
    }
    &__6 {
      grid-column: 2 / span 2;
    }
    &__7 {
      grid-column: 4 / span 2;
    }
  }
}
.section6 {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 6rem 0;
  .staff {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    hr {
      width: 50%;
      border: 0.5px solid lightgray;
    }
    h3 {
      color: $blue;
      font-family: roboto condensed, sans-serif;
      font-size: 21px;
      line-height: 22px;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    p {
      color: grey;
      font-family: roboto condensed, sans-serif;
      font-size: 14px;
      margin-top: 0;
      line-height: 18px;
    }
    img {
      width: 100%;

      object-fit: cover;
    }
    &__box {
      &__4 {
        grid-column: 2 / 3;
        hr {
          display: none;
        }
      }
      &__5 {
        grid-column: 3 / 4;
        hr {
          display: none;
        }
      }
    }
  }
}
.section7 {
  text-align: center;
  hr {
    border: 1px solid lightgray;
  }
}
.section8 {
  padding: 6rem 0;
  text-align: center;
  .strumentazioneGallery {
    margin-top: 2rem;
  }
}
.section9 {
  text-align: center;
}
